<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>About Us | Flower Shop</title>
<link href="templatemo_style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="templatemo_container">

  <div id="templatemo_top_panel">
    <div id="templatemo_language_section">
      <a href="#"><img src="images/templatemo_flag_01.gif" alt="flag 1" /></a>
    </div>
    <div id="templatemo_shopping_cart">
      Shopping Cart <span>(<a href="/cart"><%= cartCount %> items</a>)</span>
    </div>
  </div>

  <div id="templatemo_header">
    <img src="images/templatemo_site_header.jpg" alt="Flower Shop" />
  </div>
  <div id="templatemo_banner">
    <a href="/"><img src="images/templatemo_banner_image.jpg" alt="Flower Shop" border="0" /></a>
  </div>

  <div id="templatemo_menu_panel">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/shop">Shop</a></li>
      <li><a href="/about" class="current">About Us</a></li>
      <li><a href="/contact">Contact Us</a></li>
      <li><a href="/cart">Cart</a></li>
    </ul>
  </div>

  <div id="templatemo_content">
    <div id="templatemo_content_left">
      <h1>Về Chúng Tôi</h1>
      <p>Flower Shop là cửa hàng hoa uy tín, được thành lập từ năm 2010 với mong muốn mang đến những bông hoa tươi đẹp nhất cho mọi người.</p>
      <p>Chúng tôi chuyên cung cấp hoa tươi, hoa cưới, hoa sự kiện và quà tặng cho mọi dịp đặc biệt trong cuộc sống. Đội ngũ nhân viên nhiệt tình, chuyên nghiệp sẵn sàng tư vấn cho bạn lựa chọn được bó hoa ưng ý nhất.</p>
      <div class="cleaner_with_height">&nbsp;</div>
      <h2>Cam Kết Của Chúng Tôi</h2>
      <p>✔ Hoa tươi 100% mỗi ngày<br/>
         ✔ Giao hàng nhanh trong 2 giờ<br/>
         ✔ Đổi trả miễn phí trong 24h<br/>
         ✔ Giá cả hợp lý, cạnh tranh</p>
      <div class="cleaner_with_height">&nbsp;</div>
    </div>

    <div id="templatemo_content_right">
      <div class="templatemo_right_section">
        <h4>Categories</h4>
        <div class="templatemo_right_section_content">
          <ul>
            <li><a href="#">Fresh Cut</a></li>
            <li><a href="#">Gifts</a></li>
            <li><a href="#">Weddings</a></li>
            <li><a href="#">Gardens</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="cleaner">&nbsp;</div>
  </div>

  <div id="templatemo_footer_panel">
    <div id="footer_left">
      <img src="images/mastercard.gif" alt="Master Card" />
      <img src="images/visa.gif" alt="Visa Card" />
      <img src="images/paypal.gif" alt="PayPal" />
    </div>
    <div id="footer_right">Copyright &copy; 2024 <a href="#">Flower Shop</a></div>
    <div class="cleaner">&nbsp;</div>
  </div>

</div>
</body>
</html>
